.mission-section {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-section > div {
  width: 40%;
}
.mission-description {
  text-align: justify;
}
.mission-description h2 {
  text-align: left;
  margin-bottom: 1rem;
  border-bottom: 3px solid #043a3a;
  padding-bottom: 10px;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #023f3a;
}
.mission-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0px;
  padding: 10px 0;
  align-items: center;
}
.mission-icons div {
  width: 250px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 43px;
  font-weight: normal;
}
.mission-icons div img {
  width: 50px;
  margin-right: 30px;
}
.mission-statement {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: normal;
}

.mission-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mission-img-subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mission-image {
  width: 100%;
  max-width: 250px;
  height: 200px;
  padding: 5px;
  border-radius: 12px;
}

.m2 {
  width: 500px;
  height: max-content;
  max-width: 100%;
}
