/* SigninForm.css */
.signin-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 100%;
}

.signin-form h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='email']:focus,
input[type='password']:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.small-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.small-link:hover {
    text-decoration: underline;
}

/* styles.css (or any other CSS file you are using) */
.para-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.para-container p {
    font-size: 12px;
    /* Adjust the font size as needed */
    color: #666;
    /* Adjust the color as needed */
}

.para-container .right {
    text-align: right;
}

.para-container a {
    color: #007bff;
    /* Adjust the link color as needed */
    text-decoration: none;
}

.para-container a:hover {
    text-decoration: underline;
}