@tailwind base;
@tailwind components;
@tailwind utilities;

.about-us-bg-img {
  background-image: url("../../assets/aboutus/about-us-bg.png") !important;
}

.active {
  color: rgb(163, 231, 129) !important;
  font-size: large !important;
  text-shadow: 0 0 8px #5a7076;
  transition: all 0.3s ease-in;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #525560;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #023f3a;
}

html {
  font-size: 75%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
